body{
     background-color: rgb(167, 167, 246);

     
}
h2{
text-align: center;
}

button{
     text-align: center;
     color: white;
     background-color: green;
}
button:hover{
     background-color: blue;

}